https://github.com/datahq/events/archive/master.zip
https://github.com/datahq/planner/archive/master.zip
boto3
cryptography
flask
flask-cors
flask-jsonpify
psycopg2
pyjwt
requests
tableschema-elasticsearch<1.0
