https://github.com/datahq/auth/archive/master.zip
https://github.com/datahq/events/archive/master.zip
https://github.com/datahq/planner/archive/master.zip
https://github.com/datahq/filemanager/archive/master.zip
https://github.com/datahq/assembler/archive/master.zip
boto3
cryptography
flask
flask-cors
flask-jsonpify
psycopg2
pyjwt
requests
tableschema-elasticsearch<1.0
dpp-runner>=0.0.7
datapackage-pipelines>=1.6.11
datapackage-pipelines-aws>=0.0.20
goodtables>=1.5.1
